@tailwind base;
@tailwind components;
@tailwind utilities;
/* Estilos generales */
/* Asegúrate de que el contenedor del video se ajuste a la pantalla */
/* Asegúrate de que el contenedor del video se ajuste a la pantalla */
/* Asegúrate de que el contenedor del video se ajuste a la pantalla */
video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* Asegúrate de que el contenedor de la imagen se ajuste al 80% de la pantalla */

/* Asegúrate de que el contenedor se ajuste a la pantalla completa */
.h-screen {
    height: 100vh;
}

/* Estilos para el contenido superpuesto */
.absolute {
    position: absolute;
}

.inset-0 {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.text-white {
    color: white;
}

.z-10 {
    z-index: 10;
}

.bg-white {
    background-color: white;
}

.bg-opacity-40 {
    background-color: rgba(255, 255, 255, 0.4);
}

.rounded-lg {
    border-radius: 0.5rem;
}

.p-6 {
    padding: 1.5rem;
}

.mb-6 {
    margin-bottom: 1.5rem;
}

.mt-4 {
    margin-top: 1rem;
}

.text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
}

.md\:text-6xl {
    font-size: 4rem;
    line-height: 1;
}

.font-bold {
    font-weight: 700;
}

.space-y-4 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}

.space-x-4 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
    margin-left: calc(1rem * var(--tw-space-x-reverse));
}

.w-full {
    width: 100%;
}

.md\:w-auto {
    width: auto;
}

.p-2 {
    padding: 0.5rem;
}

.bg-red-600 {
    background-color: #e3342f;
}

.hover\:bg-red-700:hover {
    background-color: #cc1f1a;
}

.rounded {
    border-radius: 0.25rem;
}